th,td{text-align:center;padding:10px;}
table{width:80%;border-collapse: collapse;margin:auto;}
tr:nth-child(even){ background-color:gray;}
tr:nth-child(odd){ background-color:lightcyan;}
th{ background-color: forestgreen;   color:white; }
body{
    background-image: url("../image/car.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}